{% extends "base_generic.html" %}

{% block title %}
<title>Bank Accounts</title>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center my-5">Bank Accounts</h1>
    <ul class="list-group">
        {% for bank_account in bank_accounts %}
        <li class="list-group-item mb-3">
            <p><strong>Bank_account_id:</strong> {{ bank_account.id }}</p>
            <p><strong>Balance:</strong> {{ bank_account.balance }}</p>
            <p><strong>Bank:</strong> {{ bank_account.bank.title }}</p>
            <div class="mt-2">
                <form method="get" action="{% url 'bank_detail' bank_account.bank.id %}"
                    class="d-inline-block mb-2 mr-2">
                    <button type="submit" class="btn btn-primary btn-sm">View Bank Details</button>
                </form>
                {% if request.user.is_superuser %}
                <form method="post" action="{% url 'delete_bank_account' bank_account.id %}?next={{ request.path }}"
                    class="d-inline-block">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete Bank Account</button>
                </form>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}